# IDE / editor
.idea/
.vscode/
nbproject/

# OS files
.DS_Store
Thumbs.db

# Composer
/vendor/
composer.phar
# Do NOT ignore composer.lock for application repositories — keep reproducible installs

# PHPUnit
.phpunit.result.cache
# ignore local phpunit config if you use phpunit.xml.dist in repo
/phpunit.xml

# Yii2 runtime & assets
/runtime/
/web/assets/

# Test artifacts
tests/_output/
tests/_support/_generated/

# Vagrant
/.vagrant/

# Node / JS
/node_modules/
/npm-debug.log
/yarn-error.log

# Environment files
.env
.env.local

# Caches, logs, build
.cache/
.sass-cache/
/logs/
/coverage/
/build/

# Misc binaries
*.exe
.DS_Store

config/db.php
# docker/nginx/logs/

web/react/dist/
web/react/package-lock.json
web/react/node_modules/